body{
    /*background: rgb(92, 91, 91);*/
    background: url(fondoinicio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
h1{
    color:white;
    background-color:#ff6347 ;
    font-size: 36px;
    text-align: center;
    border:2px solid #fff;
    border-radius: 10px;
}
/*div{
    color:rgb(255, 255, 255);
    margin: 10px 100px;
    background: url(fondodiv.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 2px solid #fff;
    border-radius: 10px;
}*/
h3{
    color:rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
}
nav{
    grid-column: auto auto auto;
    background: url(fondocabeza3.jpg);
    background-size: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    /*border: 2px solid #fff;
    border-radius: 10px;*/
}
#parrafodelcristo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#Cristo{
    display:  flex;
    
}
h2{
    margin: 10px 300px 10px 300px;
    padding: 1px;
    color:rgb(0, 0, 0);
    text-align: center;
}
#salarparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#salar{
    display: flex;
}
#madidiparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#parque{
    display: flex;
}
#lagoparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#lago{
    display: flex;
}
#sajamaparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#sajama{
    display: flex;
}
#oruroparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#oruro{
    display: flex;
}
#laparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#la{
    display: flex;
}
#minaparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#minas{
    display: flex;
}
#plazaparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#plaza{
    display: flex;
}
#toroparrafo{
    /*background: url(1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;*/
    margin: 1%;
    padding: 30px;
    width: 30%;
}
#torotoro{
    display: flex;
}
p{
    border: 2px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    margin: 2%;
}
a{
    /*background-color: salmon;
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    color: white;*/
}
a:hover{
    background-color: rgb(135, 217, 250);
}
@media(max-width:600px){
    nav{
        background-color: black;
        flex-direction: column;
        
    }
    /*body{
        flex-direction: column;
    }*/
    
}
footer{
    margin-left: 100px;
}
.navegador{
    grid-column: auto;
}